/* YOUR SOLUTIONS HERE */
/* esercizio 1 */
.ex-1-square {
  transition: background 3s;
}

.ex-1-square:hover {
  background: red;
}

/* esercizio 2 */
.ex-2-square {
  transition: width 3s;
}

.ex-2-square:active {
  width: 100%;
}

/* esercizio 3 */
.ex-3-square {
  transition: border-radius 2s;
}

.ex-3-square:hover {
  border-radius: 100%;
}

/* esercizio 4 */
.ex-4-square {
  transition: opacity 2s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
  transition: trasform 2s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(.5);
}

/* esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img {
  transition: filter 3s;
}
.ex-7-img:hover {
  filter: grayscale(.5) saturate(.25);
}

/* esercizio 8 */
.ex-8-img {
  transition: filter 3s, border-radius 3s;
}

.ex-8-img:hover {
  filter: grayscale(.6) saturate(.25);
  border-radius: 25px;
}

/* esercizio 9 */
.ex-9-img {
  transition: filter 3s, border-radius 3s, transform 3s;
}

.ex-9-img:hover {
  filter: grayscale(.6) saturate(.25);
  border-radius: 25px;
  transform: scale(2);
  }

/* esercizio 10 */
.ex-10-icon  {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* esercizio 11 */
.ex-11-icon:hover {
  animation: spinfast 2s linear;
}

@keyframes spinfast {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: movetopspace 2s linear infinite;
}
@keyframes movetopspace {
  0% {
    left: 10%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: movebottomspace 2s linear infinite;
}

@keyframes movebottomspace {
  0% {
    right: 20%;
  }
  50% {
    right: 70%;
  }
  100% {
    right: 20%;
  }
}

/* esercizio 13 */
